.ShipName {
  margin-top: 5px;
  display: flex;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #D9E1E0;
  color: #22242A;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  transition: all .4s ease-in-out;
}

.ShipName:hover {
  background: #00C5B7;
  color: #FFFFFF;
  transition: all .4s ease-in-out;
}

.ShipName::after {
  content: "";
  width: 30px;
  height: 10px;
  background: url(../../Assets/images/icons/ship-arrow.svg) no-repeat center;
  position: absolute;
  left: 50%;
  bottom: -15px;
  margin-left: -15px;
  z-index: 999;
}

.TopRotation-carousel .owl-stage-outer {
  overflow: visible !important;
}